## Ignore Visual Studio temporary files, build results, and
## user-specific files

# Build results
[Bb]in/
[Oo]bj/
*.dll
*.exe

# User-specific files
*.user
*.suo
*.userosscache
*.sln.docstates

# Windows image cache
Thumbs.db
ehthumbs.db

# VS Code folder
.vscode/

# NuGet packages
*.nupkg
packages/

# Others
*.log
*.cache
*.pdb
_ReSharper*/
*.vspscc
*.vssscc
.vs/
